<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="css/main.css"/>
	<title>百度新闻</title>
</head>
<body>
<!--头部蓝色区域-->
	<div id="header">
		<div class="toolbar cf">
			<div class="fl">
				<a class="btn_bd" href="#"></a>
				<a class="bd_user" href="#"></a>
			</div>
			<div class="fr">
				<a class="btn_search" href="#"></a>
				<a class="more" href="#"></a>
			</div>
		</div>
		<div class="news_navigator">
			<div class="content">
				<!-- 栏目表-->
				<ul class="table cf">
					<li data-type="tuijian"><b></b><a href="#">推荐</a></li>
					<li data-type="baijia"><b></b><a href="#">百家</a></li>
					<li data-type="bendi"><b></b><a href="#">本地</a></li>
					<li data-type="tupian"><b></b><a href="#">图片</a></li>
					<li data-type="yule"><b></b><a href="#">娱乐</a></li>
					<li data-type="shehui"><b></b><a href="#">社会</a></li>
					<li data-type="junshi"><b></b><a href="#">军事</a></li>
					<li data-type="nvren"><b></b><a href="#">女人</a></li>
					<li data-type="gaoxiao"><b></b><a href="#">搞笑</a></li>
					<li data-type="keji"><b></b><a href="#">科技</a></li>
					<li><b></b><a href="#">更多</a></li>
				</ul>
			</div>
		</div>
	</div>
<!--End 头部蓝色区域-->
	<div id="article">
		<!-- 轮播图区域-->
		<div class="swiperPic">
			<div class="picCtn ofh">
				<ul class="cf">

				</ul>
			</div>
		</div>
		<!-- 新闻区域-->
		<div class="news_item">

		</div>
	</div>
	<script src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>