	html,body{width: 100%;height: 100%;margin: 0;padding: 0;}
	body{background-color: cadetblue;}
	*{box-sizing:border-box;}
	#container,#container *{
		position: absolute;
		top:50%;
		left:50%;
		transform-style: preserve-3d;
		-webkit-transform-origin:0% 0%;
		perspective: 0px;
	}
	#container{
		transform: rotateX(-28deg) rotateY(27deg) rotateZ(0deg);
		width: 150px;
		height: 150px;
		margin: -150px auto auto -170px;
	}
	

	.item_face{
		text-align: center;
		width: 50px;
		height: 50px;
		background-color: aquamarine;
		opacity: .8;
		border-radius: 10px;
		border: 1px solid yellow;
		box-shadow: 0 0 5px yellow;
	}
/*START 面的位置*/
	.item_face:first-child{transform: rotateX(0deg);}
	.item_face:nth-child(2){transform: rotateY(-90deg);}
	.item_face:nth-child(3){transform: translateY(50px) rotateX(90deg);}
	.item_face:nth-child(4){transform: rotateX(90deg);}
	.item_face:nth-child(5){transform: translateX(50px) rotateY(-90deg)}
	.item_face:last-child{transform: translateZ(50px);}
/*END 面的位置*/
/*Start 调整方块的位置*/
	.item:nth-child(2){transform: translateZ(50px);}
	.item:nth-child(3){transform: translateZ(100px);}

	.item:nth-child(4){transform: translateX(50px);}
	.item:nth-child(5){transform: translateX(50px) translateZ(50px);}
	.item:nth-child(6){transform: translateX(50px) translateZ(100px);}

	.item:nth-child(7){transform: translateX(100px) translateZ(0px);}
	.item:nth-child(8){transform: translateX(100px) translateZ(50px);}
	.item:nth-child(9){transform: translateX(100px) translateZ(100px);}

	.row2{transform: translateY(50px);}
	.row3{transform: translateY(100px);}
/*End 调整方块的位置*/
/*START 动画*/
	#container .box{ 
		transform-origin: 75px 75px 75px;
		-webkit-animation:rotate 2s ease-out 1s infinite;
	}
	#container .row1{
		transform-origin: 75px 0 75px;
		-webkit-animation:rowRot 2s linear 2;
	}
	

	@-webkit-keyframes rowRot{
		0%{transform:rotateY(0deg);}
		50%{transform:rotateY(-90deg);}
		100%{-webkit-transform:rotateX(0deg);}
	}

	@-webkit-keyframes rotate{
   		0%{-webkit-transform:rotateY(0deg)}
   		33%{-webkit-transform:rotateY(100deg);}
   		66%{-webkit-transform:rotateX(100deg);}
   		100%{-webkit-transform:rotateY(0deg);}
	}
/*END 动画*/
	.shadow{
		width: 200px;
	    height: 2px;
	    border-radius: 50%;
	    background: rgba(0,0,0,0.3);
	    box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
	    position: absolute;
	    top: 68%;
	    left: 50%;
	    margin-left: -100px;
	}