*{margin: 0;padding: 0;}
	a{text-decoration: none;color: #555;font-size: 12px;}
	.row1{
		padding-top: 12px;
		line-height: 30px;
		position: relative;
	}
	.row1 .s_tab a{
		margin-right: 5px;
		font-size: 14px;
		font-family: 'Microsoft YaHei',arial,'Hiragino Sans GB',sans-serif;
	}
	.row1 a:first-child img{
		width: 137px;
		height: 51px;
		float: left;
		margin: 16px 16px 0 40px;
	}
	.row1 a:last-child img{
		width: 18px;
  		height: 16px;
	}
	.row1 .pic_logo{
		position: absolute;
		top: 5px;
		right: 8px;
		width: 22px;
		height: 17px;
		outline: 0;
	}
	.s_input{
		display: inline-block;
		width: 453px;
		height: 32px;
		border: 1px solid #b8b8b8;
		border-right: 0;
		position: relative;
	}
	.s_input input{
		width: 416px;
		height: 22px;
		font: 16px/22px arial;
		margin: 5px 0 0 7px;
		outline: 0;
		border: 0;
	}
	.s_btn{
		display: inline-block;
		position: relative;
		top: 2px;
		width: 98px;
		height: 32px;
		border: 1px solid #ccc;
	}
	.s_btn input{outline: 0;}
	.s_kuang span:last-child input{
		width: 98px;
		height: 32px;
		border-left: 0;
		padding: 0;
		padding-top: 1px;
		line-height: 32px;
		font-size: 16px;
		font-family: 'Microsoft Yahei';
		background: url(img/search_btn.png) no-repeat;
		color: #333;
		border: 0;
		cursor: pointer;
	}
	.login{
		position: absolute;
		right: 10px;
		top: 0;
	}
	.login a{
		border-right: 1px solid #bbb;
		padding-right: 8px;
	}
	.login a:last-child{border: 0;}


/*瀑布流*/
	#waterFallContainer{
		margin: 40px auto 0 auto;
		position: relative;
	}
	
	.box{
		float: left;
		width:250px;
		padding: 5px;
	}
	.img_box{
		border-radius: 5px;
		box-shadow: 0 0 5px #888;
		padding: 5px;
	}
	.img_box img{
		width: 100%;
	}