*{
	box-sizing: border-box;
}
html,body,ul{
	padding: 0;
	margin: 0;
	height: 100%;
}
body{
	
}
body, button, input, select, textarea {
    font: 12px arial;
}
li{
	list-style: none;
}
a,s,b,i{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cf:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
#background{
	position: fixed;
	z-index: -1;
	background-image: url('../img/209.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#topHeader{
	height: 32px;
	background-image: linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
}
#topHeader *{
	color: #fff;
}
#topHeader .menu{
	height: inherit;
	line-height: 32px;
}
ul>li{
	float: left;	
}
.weather{
	margin-left: 15px;
}
.weather *{
	margin-right: 5px;
}
.weather i{
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url('../img/a7.png');
}
.weather b{
	color: #38f !important;
}
.weather em{
	margin-right: 11px;
}
#topHeader .fl.menu ul>li:nth-child(2) u{
	margin-right: 20px;
}
#topHeader .fr.menu>ul>li{
	margin-left: 19px;
}
#topHeader .fr.menu li{
	font-size: 13px;
}
.moreCtn{
	position: relative;
}
.moreBlue{
	background-color: #398bfb;
	width: 86px;
	text-align: center;
}
.moreBar{
	position: absolute;
	z-index: 50;
	display: none;
	top: 0;
	right: 0;
	background-color: #f9f9f9;
}
.moreBar li{
	padding-top: 10px;
	width: 86px;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}
.moreBar li:first-child{
	padding-top: 0;
}
.moreBar a {
	color: #666 !important;
}
/*.moreBar img{
	display: block;
	margin: 0 auto;
}*/
.moreBar li .img{
	width: 40px;
	height: 36px;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.moreBar li:nth-child(2) .img{
	background-image: url(../img/music.png?__sprite);
}
.moreBar li:nth-child(3) .img{
	background-image: url(../img/image.png?__sprite);
}
.moreBar li:nth-child(4) .img{
	background-image: url(../img/zhidao.png?__sprite);
}
.moreBar li:nth-child(5) .img{
	background-image: url(../img/wenku.png?__sprite);
}
.moreBar li:nth-child(6) .img{
	background-image: url(../img/bang.png?__sprite);
}
.moreBar li:nth-child(7) .img{
	background-image: url(../img/tuiguang.png?__sprite);
}


/* fixed的顶部搜索栏 */
#topHeaderFix{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	height: 74px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.952941) 0px, rgba(255, 255, 255, 0.952941) 100%);
	box-shadow: 0 0 5px #888;
}
.fixSearchCtn{
	width: 893px;
	margin: 0 auto;
	height: 100%;
}
.fixSearch,.fixSearchCtn img{
	display: inline-block;
	vertical-align: middle;
}
.fixSearch{
	margin-left: 25px;
	margin-top: 17px;
}
.fixSearch .sBtn{
	background-color: #38f;
	background-image: none;
	color: #fff;
}
.fixSearch .sBtn:hover{
	background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
.fixSearchCtn input{
	width: 534px;
	height: 40px;
	border: 1px solid #b8b8b8;
	border-right: 0;
	padding: 9px 48px 9px 7px;
	outline: 0;
}

/*搜索栏*/

#search>img{
	display: block;
	width: 270px;
	height: 129px;
	margin: 0 auto;
}
#search .sCtn{
	position: relative;
	width: 641px;
	height: 40px;
	background-color: #fff;
	margin: 0 auto;
}
#search .sCtn input{
	height: 40px;
	width: 537px;
	padding: 10px 50px 10px 7px;
	outline: 0;
	border: 0;
}
.search{
	width: 537px;
}
.search i{
	position: absolute;
	top: 50%;
	left: 500px;
	margin-top: -8px;
	width: 18px;
	height: 16px;
	background-image: url(../img/camera_new.png);
	background-position: 0 0;
}
.sBtn{
	display: inline-block;
	width: 104px;
    height: 40px;
    background-image: url(../img/skin_dark.png);
    background-position: -206px 0;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.sBtn:active{
	background-image: none;
	background-color: #e6e6e6;
}

/* End 搜索栏 */

/* 新闻栏 */
#news{
	margin-top: 50px;
}
.newsCtn{
	width: 895px;
	margin: 0 auto;
	    background-image: linear-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%) !important;
}
.newsMenu{
	height: 40px;
	border-bottom: 1px solid #e3e3e3;
}
.newsMenu ul>li{
	width: 80px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
}
.newsMenu ul>li:first-child{
	width: 124px;
}
.newsMenu ul>li:first-child i{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
    height: 18px;
	background-image: url(../img/card_setts.png);
	background-position: -46px -55px;
}
.newsMenu .active{
	color: #333;
	background-color: #EDE9E8;
	font-weight: bold;
}
.newsMenu span{
	width: 50px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.newsMenu span:hover b{
	background-position: -121px -73px;
}
.newsMenu b{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url(../img/card_setts.png) no-repeat -121px -49px;
}
/* tab0 */
.tab0{padding-top:25px;}
.tab0 .mynav{
	height: 37px;
	line-height: 30px;
	padding-bottom: 6px;
	border-bottom: 1px solid #f0f0f0;
}
.tab0 .mynav span{
	line-height: 30px
}
.tab0 em{
	display: inline-block;
	border: 5px dashed transparent;
    border-left: 5px solid #666;
    vertical-align: middle;
}

.userDefined{
	line-height: 30px;
	height: 30px;margin-top: 13px;
	text-indent: 13px;
}
/* End tab0 */
/* tab2 */
.tab0,.tab2,.tab3,.tab4{
	height: 400px;
}
.tab2 li{
	position: relative;
	margin-top: 15px;
	margin-right: 15px;
	width: 128px;
	height: 60px;
	background: #fcfcfc;
	border: 1px solid #fcfcfc;
	line-height: 58px;
}
.tab2 li:nth-child(6n){
	margin-right: 0;
}
.tab2 li img{
	display: inline-block;
    vertical-align: sub;
    margin-left: 20px;
    margin-right: 4px;
} 
.tab2 li:hover{
	border:1px solid #f0f0f0;
}
.tab2 li:hover p{
	display: block;
}
.tab2 li span{
	color: #333;
    font-size: 14px;
}
.tab2 li p,.tab2 li i{
	position: absolute;
}
.tab2 li p{
	bottom: 0px;
	width: 100%;
	height: 18px;
	line-height: 18px;
	margin: 0;
	background: #ff8300;
	left: 0px;
	text-align: center;
	color: #fff;
	display: none;
}
.tab2 li i{
	top: 0px;
	right: 0px;
	width: 16px;
    height: 16px;
    background: url("../img/fanli.png") no-repeat 0 0;
}
/* End tab2 */
/* 新闻的主体 */
.newsBody{
	padding: 0 25px;
	position: relative;
}
.newsItem{
	width: 538px;
}
.newsTip p *{
	vertical-align: middle;
	display: inline-block;
	color:rgba(0, 0, 0, .4)
}
.newsTip span:nth-child(2) {
	margin: 0 9px;
}
.newsTip i{
	height: 14px;
    width: 12px;
    margin: 0 6px 0 6px;
    background: url(../img/news.png) no-repeat -45px -1px
}
.newsTip .line{
	width: 172px;
	border-bottom: 1px solid #e3e3e3;
}
.item{
	margin-top: 20px;
	border-bottom: 1px solid #e3e3e3;
}
.newsTitle a{
	display: block;
	margin-bottom: 30px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	font-family: arial, 'Microsoft Yahei', '微软雅黑';
}
.newsTitle img{
	margin-left: 20px;
}
.newsTitle i{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/news.png) -20px -100px no-repeat;
	width: 16px;
	height: 16px;
}
.origin{
	position: relative;
	top: -15px;
}
.origin span{
	margin-right: 10px;
	color: rgba(0,0,0,.5);
	font-size: 14px;
	line-height: 14px;
}
/*实时热点*/

.newsHot{
	position: absolute;
	top: 20px;
	right: 5px;
    width: 300px;
}
.newsHot .hotTitle{
	padding-right: 30px;
}
.hotTitle i{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 16px;
	background: url(../img/news.png) -23px -25px no-repeat;
}
.hotTitle .fl{
	font-size: 14px;
	font-weight: bold;
}
.hotItem li{
	width: 135px;
    margin-right: 3px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hotItem li b{
	display: inline-block;
	vertical-align: middle;
	height: 3px;
    width: 3px;
    background: #666;
    text-align: center;
    margin-right: 7px;
    font-size: 0;
}
.hotItem li a{
	color: #333;
}
/* 向下箭头 */
.rect{
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 0;
	width: 60px;
	height: 30px;
	background-color: rgba(0,0,0,.6);
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
}
.animate-arrow{
	width: 22px;
	height: 13px;
	margin-left: 19px;
	margin-top: 13px;
	background: url(../img/card_setts.png) no-repeat -114px -2px;
	-webkit-animation: next 1s infinite;
}
@-webkit-keyframes next
{
0%{margin-top: 10px;}
50%{margin-top: 16px;}
100%{margin-top: 10px;}
}



